@model MovieSearchViewModel

<div class="flex-wrap-movielist mv-grid-fw">
    
    @if(@Model.Movies.Count!=0)
    {
    @foreach (var movie in @Model.Movies)
    {
        <div class="movie-item-style-2 movie-item-style-1">
        <img src="@Url.Content(movie.CoverPhoto)" />
        <div class="hvr-inner">
            <form>
            <button class="registerButton" asp-action="MovieDetails" asp-controller="Movie" value="@movie.Id" name="movieId"> Read more <i class="ion-android-arrow-dropright"></i></button>
            </form>
        </div>
        <div class="mv-item-infor">
            <h6><a href="#">@movie.Name</a></h6>
            <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
        </div>
    </div>
    }

    }
    else
    {
       <span>There are no movies found.</span>
    }


</div>
<div class="topbar-filter">
    <label>Movies per page:</label>
    <select>
        <option value="range">20 Movies</option>
        <option value="saab">10 Movies</option>
    </select>

    <div class="pagination2">

        <div hidden="hidden">
            <input id="current-page" asp-for="Page" value="@Model.Page" />
            <input id="current-keyword" asp-for="Keyword" value="@Model.Keyword" />
            <input id="current-moviesCount" asp-for="MoviesCount" value="@Model.MoviesCount" />
            <input id="last-page" asp-for="LastPage" value="@Model.LastPage" />
        </div>
        <ul id="pagination-container"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
   
}